.home-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-id-wrapper{
  display: flex;
  flex-direction: column;
  width: 350px;
padding: 10px;
}
.form-id-wrapper input{
  outline: none;
  font-size: 16px;
  padding: 5px 7px;
  margin-bottom: 5px ;
}
.submit-btn {
  border: none;
  padding: 5px;
  background: #007ef8;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}